@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

/********** Boiler Plate CSS ************/
body {
    background-color: #f3f3f3;
	font-family: 'Titillium Web', sans-serif;
}

.head-font{
    font-family: 'Montserrat', sans-serif;
    color: #716b6b;
}

.color-yellow{
    color: #e8c154;
}

.color-red{
    color: #ec4655;
}

.color-blue{
    color: #31c6ef;
}

.color-green{
    color: #4dbab0;
}
/********** Boiler Plate CSS ************/


/********** Landing Page ****************/
.title-logo{
    text-align: center;
    font-size: 5.5em;
}

/*
Log-in by Facebook and Sign up portion of Landing page
*/

.log-sign{
	position: fixed;
	top: 25%;
	left: 66%;
}

.facebook-button{
}

.or-text{
	margin-top: 20px;
	top: 90px;
}

.sign-up-group{
	top: 110px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*
Sign in portion of Landing page
*/

.div-bottom-landing{
	position: fixed;
	top: 80%;
	padding-right: 100%;
	padding-bottom: 20%;
}

.already-text{
	position: absolute;
	top: 5%;
	left: 66%;
	white-space: nowrap;
}

.login-button{
	position: absolute;
	top: 15%;
	left: 66%;
}